<ion-content [fullscreen]="true" style="--background: #f4f4f4; position: relative;">
  
  <div id="mapId" class="map-container"></div>

  <div class="floating-ui-wrapper">
    
    <div class="top-section">
      <div class="search-box">
        <input type="text" [(ngModel)]="busqueda" placeholder="Buscar lugares cercanos..." class="search-input">
        <span (click)="buscarLugares()" class="search-icon">🔍</span>
      </div>
    </div>

    <div class="bottom-section">
      <div (click)="centrarUbicacion()" class="btn-location">
        <span>📍</span> Mi Ubicación
      </div>
      
      <div (click)="compartirUbicacion()" class="btn-share">
        <span>📤</span> Compartir
      </div>
    </div>

  </div>
</ion-content>