<ion-content [fullscreen]="true" style="--background: #f4f5f8; position: relative;">
  
  <div class="neo-header">
    <div class="neo-logo">
      <ion-icon name="cube" class="neo-icon"></ion-icon>
      ProjectWizard
    </div>
    <h1 class="neo-title">Tech News 📰</h1>
    <p class="neo-subtitle">Mantente al día con la tecnología</p>
  </div>

  <div class="neo-content-wrapper">
    <div class="alerts-container">
      <div *ngIf="mostrarAlertaPantalla" class="alert-success">
        {{ mensajeNotificacion }}
      </div>

      <div class="offline-banner" *ngIf="!isOnline">
        ● Modo Offline: Sin conexión a internet
      </div>
    </div>

    <div *ngIf="cargando" class="loading-container">
      <ion-spinner name="crescent" class="loading-spinner"></ion-spinner>
      <p class="loading-text">Cargando artículos...</p>
    </div>
    
    <div *ngIf="!cargando">
      <div *ngFor="let noticia of noticias" class="news-card">
        
        <div class="news-img-container">
          <img [src]="noticia.urlToImage" class="news-img" />
        </div>
        
        <div class="news-title">
          {{ noticia.title }}
        </div>
        
        <div class="news-source">
          Fuente: {{ noticia.source?.name }}
        </div>
        
        <a [href]="noticia.url" target="_blank" class="news-link">
          <div class="btn-read-more">
            Leer más
          </div>
        </a>
      </div>
    </div>

  </div>

  <div *ngIf="mostrarModalOffline" class="modal-overlay">
    <div class="modal-content-small">
      <h2 class="modal-title">ESTÁS DESCONECTADO</h2>
      <p class="modal-text">Solo podrás ver las noticias que se hayan cargado en caché previamente.</p>
      <button (click)="cerrarModal()" class="btn-modal-dark">ENTENDIDO</button>
    </div>
  </div>

</ion-content>