<ion-content [fullscreen]="true" style="--background: #f4f5f8;">
  <div class="login-container">
    
    <div class="header-section">
      <div class="logo-box">
        <ion-icon name="cube"></ion-icon>
      </div>
      <h1 class="app-title">ProjectWizard</h1>
      <p class="app-subtitle">Gestión de Equipos</p>
    </div>

    <div *ngIf="mostrarError" class="alert-danger" (click)="mostrarError = false">
      Usuario o contraseña incorrectos
    </div>

    <div class="neo-login-card">
      <label class="neo-label">Usuario</label>
      <input 
        type="text" 
        [(ngModel)]="username" 
        placeholder="Ej: uriel" 
        class="neo-input">

      <label class="neo-label">Contraseña</label>
      <input 
        type="password" 
        [(ngModel)]="password" 
        placeholder="Tu contraseña" 
        class="neo-input">

      <button class="neo-btn-login" (click)="ingresar()">
        Entrar
      </button>
    </div>

  </div>
</ion-content>